{% extends 'base.html' %}

{% block content %}
<div class="about-container">
    <h1>О проекте WorldLink</h1>
    <p class="subtitle">Современная платформа для обмена медиаконтентом и общения.</p>

    <div class="about-section">
        <h3>Что такое WorldLink?</h3>
        <p>WorldLink объединяет возможности видеоплатформы и социальной сети: публикуйте видео, делитесь фотографиями, общайтесь в мессенджере и подписывайтесь на любимых авторов.</p>
    </div>

    <div class="about-features">
        <div class="feature-card">
            <i class="fa fa-video"></i>
            <h4>Медиаконтент</h4>
            <p>Загружайте видео и фотографии в высоком качестве.</p>
        </div>
        <div class="feature-card">
            <i class="fa fa-comments"></i>
            <h4>Мессенджер</h4>
            <p>Мгновенный обмен сообщениями с друзьями.</p>
        </div>
        <div class="feature-card">
            <i class="fa fa-users"></i>
            <h4>Сообщество</h4>
            <p>Удобная система подписок и лента рекомендаций.</p>
        </div>
    </div>
</div>
<aside class="sidebar">
    <a href="/"><i class="fa fa-home"></i> Главная</a>
    <a href="/subscriptions"><i class="fa fa-users"></i> Подписки</a>
    <a href="/messages"><i class="fa fa-comments"></i> Мессенджер</a>
    <a href="/profile"><i class="fa fa-user"></i> Профиль</a>
    <!-- Новая ссылка -->
    <a href="/about"><i class="fa fa-info-circle"></i> О нас</a>
</aside>
{% endblock %}
